<!-- vehicle_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Veh&iacute;culos</title>
</head>
<body>
    <h1>Lista de Veh&iacute;culos</h1>
    <ul>
        {% for vehicle in list_vehiculo %}		
            <li>
                <a href="{% url 'vehicle_detail' vehicle.id %}">{{ vehicle.nombre }}</a>
                <img src="{{ vehicle.imagen.url }}" alt="{{ vehicle.nombre }} Image">
            </li>
        {% endfor %}
    </ul>
</body>
</html>